


/* .Footer{
  padding: 80px;
  height: 313px;
  /* background-color: black; */
  /* color: white; */

/* }  */

.MuiButton-containedPrimary{
  background-color:  #f05f40!important;

}

.MuiList-padding{
  padding-left: 35% !important;
}
.MuiAppBar-colorPrimary{
  background-color: white !important;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline{
  border-color: #f05f40 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

a{
  text-decoration: none !important;
  color: black !important;
} 

a:hover {
  color: #f05f40 !important;
}

.Footer{
  margin-top: 15% !important;
  color: aliceblue !important;
  background-color: #222 !important;
  height: 80px !important;

}